body{
    background-color: #0000009e;
}

#title {
    text-align: center;
    font-size: 2.4rem;
    background-color: #000;
    margin-bottom: 0.5em;
    color: #fff;
}
.form-check{
    display: inline-block;
    margin:0  1.25rem;
}
p#description {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.container.mt-5 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.4em;
    border-radius: 5px;
    margin-bottom:2em;
}

@media (max-width: 767px) {
    .container, .container-sm {
        max-width: 90%;
    }
    #title{
        font-size:1.4rem;
    }
    p#description{
        font-size: 0.9em;
    }
    .container.mt-5{
        width: 100%;
        overflow-x: scroll;
    }
}